{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% if app.user %}
    <h1>Modifiez votre profil</h1>
    {% else %}
    <h1>Inscription</h1>
    {% endif %}
    
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
