{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% if app.user %}
    <h1>Modifiez votre profil</h1>
    {% else %}
    <h1>Inscription</h1>
    {% endif %}
    
    {{ form(registrationForm) }}
{% endblock %}
